<h1>Estudiantes</h1>

<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr class="table-success">
        <td><%= student.name %></td>
        <td><%= student.email %></td>
      </tr>
    <% end %>
  </tbody>

</table>
